<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gabriel Mattei | Conductor</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="img/favico.png" sizes="32x32" />
    <!-- CSS STYLE LINKS -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>


<div class="container-fluid top">
    <div class="row nav">
        <div class="col-lg-2">
            <a href="index.php">Gabriel Mattei</a>
        </div>
        <div class="col-lg-offset-2 col-lg-2">
            <a class="musique" id="symf">Symphonic Music</a>
            {#<input class="musique" type="checkbox" id="symf"/>#}
        </div>
        <div class="col-lg-2">
            <a class="performing" id="perfo">Performing Art</a>
        </div>

        <div class="col-lg-offset-3 col-lg-1">
            <a href="about.php">About</a>
        </div>
    </div>
</div>

<div class="container-fluid topphone">
    <div class="row nav">

        <div class="col-xs-6">
            <a href="index.php">Gabriel Mattei</a>
        </div>

        <div class="col-xs-offset-4 col-xs-2">
            <a href="#">About</a>
        </div>
        <div class="col-xs-offset-1 col-xs-5">
            <a class="musique" id="symf">Symphonic Music</a>
            {#<input class="musique" type="checkbox" id="symf"/>#}
        </div>
        <div class="col-xs-5">
            <a class="performing" id="perfo">Performing Art</a>
        </div>
    </div>
</div>

    <div class="content" >
        <p>

            {% for content in contents %}

                 {% if content.best == 1 %}
                    <span class="{{ content.category }}">
                        <span class="title bests"> {{ content.title}}</span>
                        <span class="subtitle"> {{ content.subtitle }}</span>
                            {% if content.new == 1 %}
                                <span class="new"> new! </span>
                            {% endif %}
                        <img src="img/silence.png" alt="silence">
                    </span>
                {% endif %}

            {% endfor %}

            {% set lastyear = '' %}

            {% for content in contents %}


                {% if lastyear !=  content.year %}
                    <span class="labelyear">.</span>
                    <span id="year{{ content.year }}" class="labelyear">{{ content.year }}</span>
                    {% set lastyear = content.year%}
                {% endif %}

        <span class="content{{ content.year }} {{ content.category }}" data-toggle="modal" data-target="#myModalFullscreen" contenteditable="false">

                            <span class="title"> {{ content.title}}</span>
                            <span class="subtitle"> {{  content.subtitle }}</span>
                                {% if content.new == 1 %}
                                    <span class="new"> new! </span>
                                {% endif %}
                            <img src="img/silence.png" alt="silence">
                        </span>


        {% endfor %}


        <div class="modal fade modal-fullscreen  footer-to-bottom" id="myModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog animated zoomInLeft">
                <div class="modal-content">
                    <hr>
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                        {% for content in contents %}

                            <span class="title"> {{ content.title}}</span>

                            {% endfor %}
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
            <span class="labelyear">.</span>

        </p>
    </div>
<hr>
<div class="container footer">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-xs-4">
                    <p>Gabriel Mattei</p>
                    <p>conductor and compositor</p>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <p>Représenté par:</p>
                    <p>Agence Meti-jori</p>
                    <p>info@meti-jori-agency.com</p>
                    <p>Tel: 1(514)241-7226</p>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <p>Contact direct:</p>
                    <p>Port.+33(0)6 02 37 89</p>
                    <p>contact@gabrielmattei.eu</p>
                    <p>facebook</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-xs-12">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-3 col-xs-offset-0 col-xs-4">
                    <span class="italic-font">Graphic design</span>
                    <p>Sophie Cure</p>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <p><span class="italic-font">Web development</span>
                        Hagera, Maxime,
                        David and Tanguy,
                        students at the
                        Wild Code School</p>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <img src="img/logo_small_nb.png" alt="logoWCS">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $("[id^=year]").click(function () {
            annee = $(this).attr('id').replace('year','');

            $(".content"+annee).fadeToggle();
        });
    });

    $(document).ready(function() {
        $("#symf").click(function () {
            $(".SymphonicMusic").css("visibility", 'visible');
            $(".PerformingArt").css("visibility", 'hidden');
            $(".performing").css("opacity", '0.05')
            $(".musique").css("opacity", '1')


        });

        $("#perfo").click(function () {
            $(".PerformingArt").css("visibility", 'visible');
            $(".SymphonicMusic").css("visibility", 'hidden');
            $(".musique").css("opacity", '0')
            $(".performing").css("opacity", '1')
        });
    });
</script>

</body>
</html>