{% extends 'layout.html.twig' %}

{% block title %}
    about
{% endblock %}

{% block nav %}

    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">Gabriel Mattei</a>
            </div>
            <div class="aboutnav">
                <ul class="navbar-nav navbar-right">
                    <li><a href="?p=about">About</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="topphone">
        <div class="row nav">

            <div class="col-xs-6">
                <a href="index.php">Gabriel Mattei</a>
            </div>
            <div class="col-xs-offset-3 col-xs-3">
                <a href="?p=about">About</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}


        <div class="contentabout">

            <p><img class="pictoabout" src="assets/img/picto/coda_about.png"> {{ about.bio }}</p>
        </div>


    <div class="row">
        <div class="about">
            <div class=" col-lg-3">
                <ul class="aboutcontact">
                    <li>Represented by:</li>
                    <li>{{ about.contact1 }}</li>
                    <li>TEL: {{ about.tel1 }}</li>
                    <li>{{ about.mail1 }}</li>
                </ul>
                <ul class="aboutcontact">
                    <li>Contact:</li>
                    <li> Mob. {{ about.tel2 }}</li>
                    <li> {{ about.mail2 }}</li>
                    <li><a href="{{ about.contact2 }}" target="_blank">Facebook</a></li>

                </ul>
                <ul class="aboutcontact">
                    <li>CV to download</li>
                    <li><a href="assets/upload/{{ about.cvfrancais }}" download="{{ about.cvfrancais }}">>CV French</a></li>
                    <li><a href="assets/upload/{{ about.cvanglais }}" download="{{ about.cvanglais }}">>CV English</a></li>
                    <li><a href="assets/upload/{{ about.cvchinois }}" download="{{ about.cvchinois }}">>CV Chinese</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <p class="aboutparagraphe">
                    {{ about.subbio }}
                </p>
            </div>
                <div class="col-lg-4 imgAbout">
                    <img class="img-responsive photogab" src="assets/upload/{{ about.image }}" alt="Gabriel">
                </div>

            </div>

        </div>

{% endblock %}
{% block script %}{% endblock %}