{% extends 'layout.html.twig' %}

{% block css %}
{% endblock %}
{% block title %}
    Conductor
{% endblock %}

{% block content %}
    <div class="content">
        <p>

            {% set boucle = 1 %}
            {% for content in contents %}

                {% if content.best == 1 %}
                    {% if boucle != 1 %}
                        <img src="../../public/assets/img/silence2.png" alt="silence">
                    {% endif %}
                    <span class="{{ content.category }} indent" data-toggle="modal" data-target="#{{ content.id }}"
                          contenteditable="false">
                        <span class="title bests"> {{ content.title }}</span>
                        <span class="subtitle"> {{ content.subtitle }}</span>
                        {% if content.new == 1 %}
                            <span class="virgule">,</span>
                            <span class="new"> new! </span>
                        {% endif %}

                    </span>
                {% endif %}
                {% set boucle = boucle + 1 %}
            {% endfor %}

            {% set lastyear = '' %}

            {% for content in contents %}

                {% if lastyear !=  content.year %}
                    <span class="point">.</span>
                    <span id="year{{ content.year }}" class="labelyear">{{ content.year }}</span>
                    {% set lastyear = content.year %}
                    {% set boucle2 = 1 %}
                {% endif %}

                <span class="content{{ content.year }} {{ content.category }}" data-toggle="modal"
                      data-target="#{{ content.id }}" contenteditable="false">

            <span class="content{{ content.year }}">

                {% if boucle2 == 1 %}
                    <span class="point">.</span>
                {% endif %}
                {% if boucle2 != 1 %}
                    <img src="../../public/assets/img/silence2.png" alt="silence">
                {% endif %}
                <span class="{{ content.category }}">

                        <span class="title"> {{ content.title }}</span>
                        <span class="subtitle"> {{ content.subtitle }}</span>
                    {% if content.new == 1 %}
                        <span class="virgule">,</span>
                        <span class="new"> new! </span>
                    {% endif %}
                    </span>
                </span>
            </span>
                {% set boucle2 = boucle2 + 1 %}
            {% endfor %}

    </div>

    {% for content in contents %}
        <div class="modal modal-fullscreen footer-to-bottom" id="{{ content.id }}" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog animated zoomInLeft">
                <div class="modal-content">
                    <hr>
                    <div class="modal-body">
                        <div class="row">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <span class="title"> {{ content.title }}</span>
                            <span class="subtitle"> {{ content.subtitle }}</span>
                        </div>


                        <div class="row multimedia">
                            <div class="col-lg-offset-4 col-lg-6">
                                {% if content.linktype == 'video' %}
                                    <iframe width="600" height="500" src="{{ media.link }}" frameborder="0"
                                            allowfullscreen="true"></iframe>
                                {% endif %}
                            </div>

                            <div class="col-lg-12">
                                {% if content.linktype == 'img' %}
                                    <img class="img-responsive" src="{{ media.link }}"
                                         style="width:1800px;height:1300px;">
                                {% endif %}
                            </div>

                            <div>
                                {% if content.linktype == 'audio' %}
                                    <audio src="{{ media.link }}" controls></audio>
                                {% endif %}
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            aliquet nulla sed erat
                            pulvinar,
                            nec tempor libero sagittis. Nunc vel rhoncus lorem. Interdum et malesuada fames ac
                            ante
                            ipsum primis
                            in faucibus. Sed ullamcorper feugiat augue eu tincidunt. Sed vel felis id eros
                            accumsan
                            pharetra.
                            Praesent bibendum mauris vitae interdum scelerisque. Sed ac blandit nisl, et
                            bibendum
                            orci. Maecenas
                            fermentum venenatis diam vel ornare. Donec dictum tellus in condimentum varius.
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            aliquet nulla sed erat
                            pulvinar,
                            nec tempor libero sagittis. Nunc vel rhoncus lorem. Interdum et malesuada fames ac
                            ante
                            ipsum primis
                            in faucibus. Sed ullamcorper feugiat augue eu tincidunt. Sed vel felis id eros
                            accumsan
                            pharetra.
                            Praesent bibendum mauris vitae interdum scelerisque. Sed ac blandit nisl, et
                            bibendum
                            orci. Maecenas
                            fermentum venenatis diam vel ornare. Donec dictum tellus in condimentum varius.
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            aliquet nulla sed erat
                            pulvinar,
                            nec tempor libero sagittis. Nunc vel rhoncus lorem. Interdum et malesuada fames ac
                            ante
                            ipsum primis
                            in faucibus. Sed ullamcorper feugiat augue eu tincidunt. Sed vel felis id eros
                            accumsan
                            pharetra.
                            Praesent bibendum mauris vitae interdum scelerisque. Sed ac blandit nisl, et
                            bibendum
                            orci. Maecenas
                            fermentum venenatis diam vel ornare. Donec dictum tellus in condimentum varius.
                        </p>
                    </div>

                </div>
                <hr>
                {% include 'partial/footer.html.twig' %}


            </div>

        </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        </div>

    {% endfor %}

    </p>
{% endblock %}

