{% extends 'layout.html.twig' %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="assets/css/swiper.css">
{% endblock %}

{% block title %}
    Conductor
{% endblock %}
{% block nav %}
    <div class="container-fluid top">
        <div class="row nav">
            <div class="col-lg-3 col-md-3">
                <a href="index.php">Gabriel Mattei</a>
            </div>
            <div class="col-lg-3 col-md-3 symf">
                <a class="musique" id="symf">Symphonic Music</a>

            </div>
            <div class="col-lg-3 col-md-3">
                <a class="performing" id="perfo">Performing Art</a>
            </div>

            <div class="col-lg-offset-2 col-lg-1 col-md-offset-2 col-md-1">
                <a href="?p=about">About</a>
            </div>
        </div>
    </div>


    <div class="container-fluid topphone">
        <div class="row nav">

            <div class="col-xs-6">
                <a href="index.php">Gabriel Mattei</a>
            </div>

            <div class="col-xs-offset-3 col-xs-3">
                <a href="?p=about">About</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 symf">
                <a class="musique" id="symf">Symphonic Music</a>
            </div>
            <div class="col-xs-6">
                <a class="performing" id="perfo">Performing Art</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content">
        <p>

            {% set boucle = 1 %}
            {% for tabContent in contentsMedia %}

                {% if tabContent.content.best == 1 %}
                    {% if boucle != 1 %}

                        <img src="assets/img/silence2.png" alt="silence">

                    {% endif %}
                    <span class="{{ tabContent.content.category }} indent" data-toggle="modal" data-target="#{{ tabContent.content.id }}"
                          contenteditable="false" data-backdrop="false">
                        <span class="title bests"> {{ tabContent.content.title }}</span>
                        <span class="subtitle"> {{ tabContent.content.subtitle }}</span>
                        {% if tabContent.content.new == 1 %}
                            <span class="virgule">,</span>
                            <span class="new"> new! </span>
                        {% endif %}

                    </span>
                {% endif %}
                {% set boucle = boucle + 1 %}
            {% endfor %}

            {% set lastyear = '' %}

            {% for tabContent in contentsMedia %}

                {% if lastyear !=  tabContent.content.year %}
                    <span class="point">.</span>
                    <span id="year{{ tabContent.content.year }}" class="labelyear">{{ tabContent.content.year }}</span>
                    {% set lastyear = tabContent.content.year %}
                    {% set boucle2 = 1 %}
                {% endif %}

                <span class="content{{ tabContent.content.year }} {{ tabContent.content.category }}" data-toggle="modal"
                      data-target="#{{ tabContent.content.id }}" contenteditable="false" data-backdrop="false">

            <span class="content{{ tabContent.content.year }}">

                {% if boucle2 == 1 %}
                    <span class="point">.</span>
                {% endif %}
                {% if boucle2 != 1 %}

                    <img src="assets/img/silence2.png" alt="silence">

                {% endif %}
                <span class="{{ tabContent.content.category }}">

                        <span class="title"> {{ tabContent.content.title }}</span>
                        <span class="subtitle"> {{ tabContent.content.subtitle }}</span>
                    {% if tabContent.content.new == 1 %}
                        <span class="virgule">,</span>
                        <span class="new"> new! </span>
                    {% endif %}
                    </span>
                </span>
            </span>
                {% set boucle2 = boucle2 + 1 %}
            {% endfor %}
        </p>
    </div>

    {% for tabContent in contentsMedia %}
        <div class="modal modal-fullscreen footer-to-bottom" id="{{ tabContent.content.id }}" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog animated zoomInLeft">
                <div class="modal-content">
                    <hr>
                    <div class="modal-body">
                        <div class="row">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <span class="title"> {{ tabContent.content.title }}</span>
                            <span class="subtitle"> {{ tabContent.content.subtitle }}</span>
                        </div>


                        <div class="row multimedia">

                            <div class="col-lg-3">

                                <div class="row">
                                    <p class="credits">{{ tabContent.content.credits }}</p>
                                </div>

                                <div class="row">
                                    <p class="description">{{ tabContent.content.description }}</p>
                                </div>

                            </div>

                            <div class="col-lg-9 ">
                                {% include 'media.html.twig' with {'medias':tabContent.medias } %}
                            </div>





                        </div>


                    </div>









                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->

    {% endfor %}

{% endblock %}
