{% set type = '' %}
{% for media in medias %}
    {% if media.linkType == 'image' %}
        {% set type = 'image' %}
    {% endif %}
{% endfor %}

{% if type=='image' %}
    <div id="carousel-example-generic{{ tabContent.content.id }}" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for media in medias %}
                <li data-target="#carousel-example-generic{{ tabContent.content.id }}" data-slide-to="{{ loop.index0 }}"
                        {% if 0 == loop.index0 %} class="active"
                        {% endif %}></li>
            {% endfor %}
        </ol>


        <div class="carousel-inner" role="listbox">

            {% for media in medias %}

                <div class="item {% if 0 == loop.index0 %}active{% endif %}">
                    <img class="" src="assets/upload/{{ media.link }}">
                </div>

            {% endfor %}
        </div>


        <a class="left carousel-control" href="#carousel-example-generic{{ tabContent.content.id }}" role="button"
           data-slide="prev">
            <span><img src="assets/img/flechegauche.png"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic{{ tabContent.content.id }}" role="button"
           data-slide="next">
            <span><img src="assets/img/flechedroite.png"></span>

            <span class="sr-only">Next</span>
        </a>

    </div>

{% endif %}

{% for media in medias %}

    <div class="embed-responsive embed-responsive-16by9">
        {% if media.linkType == 'video' %}
            <iframe class="embed-responsive-item" src="{{ media.link }}" frameborder="0" allowfullscreen="true"></iframe>

        {% endif %}
        </div>


    <div class="col-lg-offset-4 col-lg-6">
        {% if media.linkType == 'audio' %}
            <audio src="assets/upload/{{ media.link }}" controls></audio>
        {% endif %}
    </div>
{% endfor %}

