{% extends 'layoutAdmin.html.twig' %}

{% block content %}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Éditer la page about</h4>

                    </div>
                    <div class="card-content">

                        <form method="post" action="index.php?p=updateProfil" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-4">

                                    <img class="gabrielM" src="../assets/upload/{{ profil.image }}" />
                                    <input type="file" id="image" name="image" accept="image/*" />
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Biographie</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <textarea name="bio" class="form-control" rows="5">{{ profil.bio }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Parcours</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <textarea name="subbio" class="form-control" rows="5">{{ profil.subbio }} </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Contact Agence METI-JORI</label>
                                        <input type="text" name="contact1" class="form-control" value="{{ profil.contact1 }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Profil Facebook Gabriel Mattei</label>
                                        <input type="text" name="contact2" class="form-control" value="{{ profil.contact2 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Mail Agence METI-JORI</label>
                                        <input type="text" name="mail1" class="form-control" value="{{ profil.mail1 }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">TEL. Agence METI-JORI</label>
                                        <input type="text" name="tel1" class="form-control" value="{{ profil.tel1 }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Mail Gabriel Mattei</label>
                                        <input type="text" name="mail2" class="form-control" value="{{ profil.mail2 }}">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">PORT. Gabriel Mattei</label>
                                        <input type="text" name="tel2" class="form-control" value="{{ profil.tel2 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">CV Anglais</label>
                                        <input type="text" name="cvanglais" class="form-control" value="{{ profil.cvanglais }}">

                                    </div>
                                    <input type="file" name="cvanglais" name="cvanglais" accept="*">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">CV Français</label>
                                        <input type="text" name="cvfrancais" class="form-control" value="{{ profil.cvfrancais }}">

                                    </div>
                                    <input type="file" id="cvfrancais" name="cvfrancais" accept="*" />
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">CV Chinois</label>
                                        <input type="text" name="cvchinois" class="form-control" value="{{ profil.cvchinois }}">

                                    </div>
                                    <input type="file" name="cvchinois" name="cvchinois" accept="*">
                                </div>
                            </div>

                            <button type="submit" name="updateProfil" value="updateProfil" class="btn pull-right">Modifier</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}