{% extends 'layoutAdmin.html.twig' %}

{% block content %}



            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">Éditer la page about</h4>

                                </div>
                                <div class="card-content">

                                    <form method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Bio</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"></label>
                                                        <textarea class="form-control" rows="5">{{ profil.bio }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Sub bio</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"></label>
                                                        <textarea class="form-control" rows="5">{{ profil.subbio }} </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Contact 1</label>
                                                    <input type="text" class="form-control" value="{{ profil.contact1 }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Contact 2</label>
                                                    <input type="text" class="form-control" value="{{ profil.contact2 }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Upload image</label>
                                                    <input type="text" class="form-control" value="{{ profil.image }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">CV anglais</label>
                                                    <input type="text" class="form-control" value="{{ profil.cvanglais }}">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">CY français</label>
                                                    <input type="text" class="form-control" value="{{ profil.cvfrancais }}">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">CV chinois</label>
                                                    <input type="text" class="form-control" value="{{ profil.cvchinois }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mail 1</label>
                                                    <input type="text" class="form-control" value="{{ profil.mail1 }}">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mail 2</label>
                                                    <input type="text" class="form-control" value="{{ profil.mail2 }}">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">TEL 1</label>
                                                    <input type="text" class="form-control" value="{{ profil.tel1 }}">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">TEL 2</label>
                                                    <input type="text" class="form-control" value="{{ profil.tel2 }}">
                                                </div>
                                            </div>
                                        </div>



                                        <button type="submit" class="btn btn-primary pull-right">Modifier</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="http://68.media.tumblr.com/69287be6c7794c977ddce79c06901503/tumblr_inline_n5scrxSfJA1rb4scn.jpg" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-gray">Gabriel Mattei</h6>
                                    <h4 class="card-title">Chef D'orchestre</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



{% endblock %}